.buttonPanel {
  background-color: whitesmoke;
}

.display {
  width: 20rem;
  height: 4rem;
  border-radius: 40px;
  text-align: end;
}

.buttons {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  margin: 10px 10px;
}

.button {
  background-color: orangered;
}

.button-eql {
  width: 6.5rem;
  height: 3.2rem;
  margin: 10px 12px;
  border-radius: 10px;
}

.number {
  background-color: white;
}
